<template name="lero">
    <a href="/">Volvar à listagem</a>
    <h5>
        <button class="remove">&times;</button>
        {{ lero.autor }}
    </h5>
    <p>
        {{ lero.texto }}
    </p>  
    
    <div class="input-field">
        <textarea id="comentario" class="materialize-textarea"></textarea>
        <label for="comentario">Comentário</label>
    </div>

    <button class="save">enviar</button>      

    <ul>
    {{# each lero.comentarios }}
        <li>{{ texto }}</li>
    {{/ each}}
    </ul>
</template>